@use "../../utils/mixins" as mixin;
@use "../../utils/variables" as var;

.stories {
  width: 100%;
  height: 100vh;
  background-color: var.$black;
  padding: 24px;

  &__title {
    @include mixin.h2-desktop-tablet;

    color: var.$white;
    margin-top: 86px;
  }
}
