$black: #090A0A;
$grey: #898E8F;
$dark-gray: #1C1E1F;
$light-gray: #DCE0E0;
$white: #DCE0E0;
$yellow: #E5F50A;
$green: #90F56C;
$blue: #0AE5F5;
$purple: #9A93F5;
$orange: #F5480A;
$pink: #F50A58;
$success: #45F545;
$error: #F57F8F;
$warning: #F5EC6C;
$yellow-green: linear-gradient(#E5F50A, #90F56C);
$blue-purple: linear-gradient(#0AE5F5, #9A93F5);
$orange-red: linear-gradient(#F5480A, #F50A58);